body {
    background-color: beige;
  }
  
  .contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 300px;
    height: 300px;
  }
  
  .div2 {
    background-color: white;
    width: 600px;
    height: 300px;
  }

 .inferior{
    background-color: red;
    width: 900px;
    height: 300px;
 }
  
 .imagen{
   height: auto;
   width: auto;
}