#rojo{
    background-color: red;
}
#blanco{
    background-color: white;
}
#verde{
    background-color: green;
}
#gris{
    background-color: grey;
}
#cafe{
    background-color: brown ;
}
#azul{
    background-color: blue;
}
#violeta{
    background-color: violet;
}
#rosado{
    background-color: pink;
}
#amarillo{
    background-color: yellow;
}
#turquesa{
    background-color: turquoise;
}
#naranjo{
    background-color: orange;
}
#purpura{
    background-color: purple;
}
#negro{
    background-color: black;
    color: white;
}