<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- configuracion base de spring boot-->
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<!-- configuracion de los appenders-->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- configuramos el ambito de accion de los logs-->
	<logger name="com.curso04.gestortareas.controllers" level="DEBUG"></logger>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="org.springframework.web" level="DEBUG"/>
	
	<!-- Podemos configurar el nivel de logs para el logger raiz-->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>